html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  width: 100%;
  padding: 36px 0 0;
  gap: 0.5rem;
  margin: auto;
  font-size: 14px;
}

@media (max-width: 480px) {
  main {
    padding: 12px 0;
  }
}

p,h2,h3 {
  margin: 0.75rem;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}