<p class="attribution">
  website made with love by <a href="https://www.xinrui.work">xynree</a>
</p>

<style>
  .attribution {
    font-size: 13px;
    font-weight: 400;
    color: rgb(168, 169, 173);
    position: fixed;
    bottom: 0.75rem;
  }

  @media (max-width: 480px) {
    .attribution {
      position: static;
      padding-bottom: 3rem;
      margin-top: -2.25rem;
    }
  }

  a,
  a:visited {
    color: rgb(97, 97, 117);
  }
</style>
