<!-- <h2>johnhonda.com</h2> -->
<img src="./jh-logo-horizontal.png" />
<!-- <p>garage punk outta seattle, wa</p> -->

<style>
  p {
    text-align: center;
  }

  img {
    margin: 1.5rem 0 1.875rem -1rem;
    width: 60%;
  }

  @media (max-width: 680px) {
    img {
      width: 70%;
    }
  }

  @media (max-width: 480px) {
    img {
      margin: 0.5rem 0;
      width: 85%;
    }
  }
</style>
