main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  padding-top: 36px;
  gap: 0.5rem;
  margin: auto;
  font-size: 14px;
}

p,h2,h3 {
  margin: 0.75rem;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}